hs_err_pid*
replay_pid*

launcher_profiles.json
tlauncher_profiles.json

/assets/
/libraries/
/versions/

/home/*/.fabric
/home/*/.mixin.out
/home/*/.persistent
/home/*/backups
/home/*/chatlogs
/home/*/client_data
/home/*/crash-reports
/home/*/downloads
/home/*/kubejs
/home/*/local
/home/*/logs
/home/*/moddata
/home/*/ModTranslations
/home/*/otyacraftengine
/home/*/patchouli_books
/home/*/quests_structures
/home/*/saves
/home/*/screenshots

crosshair_config.ccmcfg
deaths.dat
imgui.log
imm_ptl_state.json
o_prof
OpenGL-Lod-ProxyContext.log
OpenGL-Lod-WorkerContext.log
patchouli_data.json
servers.dat.bak
servers.dat_old
slotlock.json
TrashSlotSaveState.json
usercache.json