/bin/
/jre/
/libraries/
/mojang_jre/


hs_err_pid*
replay_pid*
tl.args
tl.bootargs
TL.exe
tl.properties
uninst000.dat
uninst000.exe

launcher_profiles.json
tlauncher_profiles.json

/files/assets/
/files/libraries/
/files/versions/

/files/home/*/.fabric
/files/home/*/.mixin.out
/files/home/*/.persistent
/files/home/*/backups
/files/home/*/chatlogs
/files/home/*/client_data
/files/home/*/crash-reports
/files/home/*/downloads
/files/home/*/kubejs
/files/home/*/local
/files/home/*/logs
/files/home/*/moddata
/files/home/*/ModTranslations
/files/home/*/otyacraftengine
/files/home/*/patchouli_books
/files/home/*/quests_structures
/files/home/*/saves
/files/home/*/screenshots

crosshair_config.ccmcfg
deaths.dat
imgui.log
imm_ptl_state.json
o_prof
OpenGL-Lod-ProxyContext.log
OpenGL-Lod-WorkerContext.log
patchouli_data.json
servers.dat.bak
servers.dat_old
slotlock.json
TrashSlotSaveState
usercache.json